__pycache__/
*.py[cod]
Py_scripts/Program/__pycache__/bold_client.cpython-313.pyc
Py_scripts/Program/__pycache__/common.cpython-313.pyc
Py_scripts/Program/__pycache__/gui.cpython-313.pyc
Py_scripts/Program/__pycache__/ncbi_client.cpython-313.pyc
Py_scripts/Program/__pycache__/output.cpython-313.pyc
Py_scripts/Program/__pycache__/retrieval_rate_tab.cpython-313.pyc
Py_scripts/Program/__pycache__/gui.cpython-313.pyc
Py_scripts/Program/__pycache__/ncbi_client.cpython-313.pyc
